<div class="card border m-3 p-3">

  <h3>Restaurant</h3>

  <%= render @restaurant %>

  <%= link_to "add new review",  new_restaurant_review_path(:restaurant_id)  %>

  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.content %>
        <%= link_to "remove", review_path(review), data: { turbo_method: :delete } %>
      </li>
    <% end %>
  </ul>
</div>
<div class="m-3">
  <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary" %>
</div>
